.navigation{
    border-radius: 0;
    box-shadow: none;
}

.catogeries{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.card-category{
    height: 10rem;
    width: 10rem;
}

.position{
    display: flex;
    justify-content: center;
}

.card-image-2{
    height: 10rem;
    width: 10rem;
}

.card-title{
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    text-align: center;
    bottom: 4rem;
}

.banner{
    margin: 1rem;
}

.banner-img{
    height: auto;
    width: 100%;
}

.heading{
   text-align: center;
   margin: 1rem;
}
