.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 0;
    box-shadow: none;
}

.content {
    margin: 6rem 0rem;
}

a {
    color: var(--white-color);
}

.cart-list {
    display: flex;
    justify-content: center;
}

.heading {
    text-align: center;
    margin: 1rem;
}

.cart-list {
    margin: 2rem;
}

.cart-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    text-align: center;
}

.btn-quantity {
    padding: 0.1rem 0.3rem;
    margin: 0rem 0.3rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
}

.quantity {
    width: 2rem;
}

.product-button {
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.price {
    text-align: center;
    margin-bottom: 0.5rem;
}

.old-price {
    text-decoration: line-through;
    margin: 0rem 1rem;
    color: gray;
}

.discount {
    color: var(--primary-color);
}

.card-footer {
    flex-direction: column;
}

.card-cart {
    background-color: var(--white-color);
    padding: 0.5rem;
    max-width: 30rem;
    display: flex;
    flex-direction: row;
}

.price-name {
    margin: 0.8rem 0rem;
}

.card-image {
    max-width: 15rem;
}

.card-checkout {
    width: 18rem;
}

.card-text {
    display: flex;
    justify-content: space-between;
}