.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 0;
    box-shadow: none;
}

.content {
    margin: 6rem 0rem;
}


a {
    color: var(--white-color);
}

.heading {
    text-align: center;
    margin: 1rem;
}

.wishlist-items {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    max-width: 15rem;
    max-height: 25rem;
    padding: 0.5rem;
    background-color: var(--white-color);
}

.card-title {
    margin: 0.5rem;
    text-align: center;
}

.product-button {
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.product-cancel {
    color: var(--white-color);
    padding: 0.1rem 0.4rem;
    font-size: xx-large;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0.5rem;
}

.price {
    text-align: center;
    margin-bottom: 0.5rem;
}

.old-price {
    text-decoration: line-through;
    margin: 0rem 1rem;
    color: gray;
}

.discount {
    color: var(--primary-color);
}

.card-footer {
    flex-direction: column;
}